.forgot-btn{
  font-weight: bold;
  color: white;
  background-color: #4D96CC;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:50px;
  border:1px #4D96CC;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  padding:3% 10%;
}